[Unit]
Description=Auto-connect to WiFi using wpa_supplicant
#After=multi-user.target
#Wants=network.target
#After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/wpa_supplicant -B -i wlan0 -c /etc/wpa_supplicant.conf
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

