# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/crane/yocto-pi/sources/poky/meta \
  /home/crane/yocto-pi/sources/poky/meta-poky \
  /home/crane/yocto-pi/sources/poky/meta-yocto-bsp \
  /home/crane/yocto-pi/sources/meta-raspberrypi \
  /home/crane/yocto-pi/sources/meta-autot \
  "
